.mainbod {
    background-image: linear-gradient(rgb(75, 153, 167), rgb(133, 165, 224));
    font-family: 'Russo One', sans-serif;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.upperrow {
    display: flex;
}

.currentTime {
    font-size: 80px;
    margin-left: 25%;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 50px;
}

.red {
    background-color: red;
}

.orange {
    background-color: darkorange;
}

.green {
    background-color: green;
}

.blue {
    background-color: dodgerblue;
}

.darkerblue {
    background-color: rgb(17, 88, 158);
}

.niceText {
    color: white;
    text-shadow: 2px 2px black;
}

.stationTitle {
    font-size: 40px;
    padding: 10px;
}

.center {
    text-align: center;
    margin: auto;
}

.stationStatus {
    font-size: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    box-shadow: 3px 3px black;
    background-color: darkslategray;
}

.container+.container {
    margin-left: 8%;
}

.busNumber {
    font-size: 50px;
}

.time {
    font-size: 45px;
}

.orange {
    background-color: darkorange;
}

.darkerorange {
    background-color: rgb(155, 85, 0);
}

.bus {
    flex-grow: 1;
}

td {
    padding: 10px;
}