.mainbod{
    background-image: linear-gradient(rgb(75, 153, 167), rgb(133, 165, 224));
    font-family: 'Russo One', sans-serif;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 50px;
}

.red{
    background-color: red;
}

.orange{
    background-color: darkorange;
}

.green{
    background-color: green;
}

.niceText{
    color:white;
    text-shadow: 2px 2px black;
}

.stationTitle{
    font-size: 40px;
    padding: 10px;
}

.center{
    text-align: center;
    margin:auto;
}

.stationStatus{
    font-size: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.bikeContainer{
    flex-wrap: nowrap;
    box-shadow: 3px 3px black;
    background-color: darkslategray;
}

.bikeBlock{
    max-width: 400px;
}