.mainbod {
    background-image: linear-gradient(rgb(75, 153, 167), rgb(133, 165, 224));
    font-family: 'Russo One', sans-serif;
}

.topContainer {
    display: none;
}

.mainheading {
    font-size: 80px;
    line-height: 0px;
}

.timer {
    font-size: 60px;
    line-height: 0px;
}

.mainContainer {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    grid-gap: 40px;
    grid-auto-rows: minmax(100px, auto);
}

.footer {
    display: block;
}

.leftStuff {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
}

.currentTime {
    font-size: 80px;
    margin: auto;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 40px;
}

table {
    table-layout: fixed;
    width: 100%;
}

.red {
    background-color: red;
}

.orange {
    background-color: darkorange;
}

.green {
    background-color: green;
}

.blue {
    background-color: dodgerblue;
}

.darkerblue {
    background-color: rgb(17, 88, 158);
}

.niceText {
    color: white;
    text-shadow: 2px 2px black;
}

.stationTitle {
    font-size: 30px;
    background-color: navy;
    display: block;
    text-align: center;
}

.center {
    text-align: center;
    margin: auto;
}

.stationStatus {
    font-size: 30px;
    width: 100%;
    display: block;
    text-align: center;
}

.container {
    box-shadow: 3px 3px black;
    background-color: darkslategray;
    margin-bottom: auto;
}

.busNumber {
    font-size: 60px;
}

.metroNumber {
    font-size: 30px;
}

.bustime {
    font-size: 45px;
}

.metrotime {
    font-size: 40px;
}

.late {
    font-style: italic;
    color: yellow;
}

.orange {
    background-color: darkorange;
}

.blacktext {
    color: black;
}

.bikeicon {
    letter-spacing: 5px;
}

.darkerorange {
    background-color: rgb(155, 85, 0);
}

td {
    padding: 10px;
}